.HeroCard {
  text-align: center;

  .profile-item {
    margin-bottom: 16px;
  }

  img {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    filter: saturate(40%);
  }

  #profile-title {
    display: block;
    color: var(--bs-gray);
  }

  #icons {
    color: var(--bs-3rd);

    span {
      margin: 0px 8px;
    }
  }

  #profile-description {
    display: block;
    color: var(--bs-dgray);
  }
}
