.JobCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .container-companies {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }


  @media (min-width: 768px) {

    .container-companies {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 48px;
    }
  }
}
