.TrainedCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .container-schools {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  
  @media (min-width: 768px) {

    .container-schools {
      justify-content: center;
      align-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 48px;
    }
  }
}
