.CandoCard {
  width: 100%;

  .container-field {
    margin-bottom: 32px;
    padding: 0 16px;

    .field-title {

      i {
        color: var(--bs-3rd);
      }

      h4 {
        display: inline;
        margin-left: 8px;
        color: var(--bs-2nd);
      }
    }

    .field-content {
      text-align: justify;
    }
  }

  .skills-section {

    .container-skills {
      margin-bottom: 32px;
      padding: 0px 16px;

      .skills-title {
        margin-bottom: 24px;

        i {
          color: var(--bs-3rd);
        }

        h4 {
          display: inline;
          margin-left: 8px;
          color: var(--bs-2nd);
        }
      }

      .skills-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
      }
    }
  }


  @media (min-width: 768px) {

    .container-field {

      .field-content {

        p {
          max-width: 460px;
        }
      }
    }
    
    .skills-section {
      gap: 180px;

      .flip-card {
        position: relative;
        width: 410px;
        min-height: 490px;
        margin-bottom: 16px;
        padding: 0;

        .front {
          transform: perspective(1000px) rotateY(0);
        }

        .back {
          // min-height: 680px;
          transform: perspective(1000px) rotateY(180deg);
        }

        &:hover .front {
          transform: perspective(1000px) rotateY(180deg);
        }

        &:hover {
          min-height: 660px;
        }

        &:hover .back {
          transform: perspective(1000px) rotateY(360deg);
        }

        .container-skills {
          position: absolute;
          width: 100%;
          margin-bottom: 0;
          padding: 32px;
          border-radius: 8px;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          background: white;
          box-shadow: #00000040 0 14px 28px, #00000038 0 10px 10px;
          transition: 1s;

          .skills-content {
            gap: 16px;
          }
        }
      }
    }
  }
}
