.ContactForm {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .spinner-grow {
    background-color: var(--bs-dgray);
  }

  /* 
    TODO: Estilos de saludo de Form submitido

    width: 80%;
    min-height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content; center;
    align-items; center;
    border-radius: 4px;
    box-shadow: inset 2px 2px 5px var(--bs-gray), inset -5px -5px 10px #fff;
  
  */
}
