.CompanyCard {
  display: flex;

  .container {
    width: 234px;
    height: 127px;
    padding: 0 !important;
    display: flex;
    align-items: center;
    position: relative;

    .company-logo {
      width: 58px;
      height: 94px;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: #3c404380 1.95px 1.95px 2.6px;
      position: absolute;
      z-index: 2;
      filter: saturate(40%);
      display: flex;
      justify-content: center;
      align-items: center;

      .logo-square {
        width: 32px;
        height: 32px;
      }

      .logo-rectangle {
        width: 40px;
        height: 12px;
      }
    }

    .container-info {
      width: 205px;
      height: 127px;
      border-radius: 4px;
      padding: 16px 16px 16px 29px;
      text-align: right;
      background-color: var(--bs-gray);
      box-shadow: #3c404380 1.95px 1.95px 2.6px;
      position: absolute;
      right: 0;

      p {
        margin-bottom: 0px;
      }

      #company-name {
        color: var(--bs-3rd);
      }

      #company-position {
        color: var(--bs-2nd);
      }

      #company-location {
        color: var(--bs-dgray);
      }

      #company-activities {
        font-size: 8px;
        color: var(--bs-dgray);
      }
    }
  }


  @media (min-width: 768px) {

    .container {
      width: 307px;
      height: 166px;

      .company-logo {
        width: 76px;
        height: 123px;
        border-radius: 8px;

        .logo-square {
          width: 45px;
          height: 45px;
        }

        .logo-rectangle {
          width: 67px;
          height: 18px;
        }
      }

      .container-info {
        width: 269px;
        height: 166px;
        border-radius: 8px;

        #company-activities {
          font-size: 11px;
          color: var(--bs-dgray);
        }
      }
    }
  }
}
