:root {
  --bs-1st: #001975;
  --bs-2nd: #3564BA;
  --bs-3rd: #17F2BA;
  --bs-4th: #96F5D9;
  --bs-5th: #A6D3FF;
  --bs-white: #FFF !important;
  --bs-lgray: #EDEDED;
  --bs-gray: #AAAAAA !important;
  --bs-dgray: #3F3F3F;
  --bs-black: #000 !important;
  
  --bs-body-color: #212529 !important;

  --bs-body-font-size: 16px !important;
  --bs-body-font-weight: 400 !important;
  --bs-body-line-height: 1.5 !important;

  body {
    font-family: "Roboto Mono", monospace !important;
    
    overflow-x: hidden;
    position: relative;
    background-color: var(--bs-white);
    
    margin: 0px;
    padding: 0px;
  }

  h1 {
    font-size: 28px;
    font-weight: 400;
    color: var(--bs-dgray);
  }

  h2 {
    font-size: 23px;
    font-weight: 400;
    color: var(--bs-dgray);
  }

  h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--bs-dgray);
  }

  p {
    font-size: 13px;
    font-weight: 400;
    color: var(--bs-dgray);
  }

  small {
    font-size: 8px;
    font-weight: 400;
    color: var(--bs-dgray);
  }

  
  @media (min-width: 768px) {

    h1 {
      font-size: 33px;
    }
  
    h2 {
      font-size: 28px;
    }
  
    h4 {
      font-size: 19px;
    }
  
    p {
      font-size: 16px;
    }
  
    small {
      font-size: 13px;
    }
  }
    
}
